<form>
  <div class="form-group">
      <label for="firstName">Name:&nbsp;</label>
      <input type="text" 
      id="firstName"
      placeholder="Name">
  </div> <br>
  <div class="form-group">
      <label for="email">Email:&nbsp;</label>
      <input 
      type="text" 
      id="email" 
      placeholder="Email">
   </div> <br>
  <div class="form-group">
      <label for="password">Password:&nbsp;</label>
      <input 
          type="password"
          id="password" 
          placeholder="Password">
  </div> <br>
  <div class="form-group">
      <label for="phone">Mobile:&nbsp;</label>
      <input 
      type="text"  
      id="phone" 
      ngModel name="phone"
      #phone="ngModel"
      placeholder="Mobile">
  </div> <br>
  Qualification: {{myVar.value}}
      <select ngModel name="mychoice" #myChoice="ngModel">
          <option>SSLC</option>
          <option>HSC</option>
          <option>Diploma</option>
          <option>UG</option>
          <option>PG</option>
      </select>
      <p>Languages Known: {{myVar.value}}
      <input id="myVar" type="checkbox" ngModel name="myVar" #myVar="ngModel" value="tamil">Tamil</p>
  </form>
  <p>{{ students }}</p>