<p>
  {{ forms.length }}
  {{ model | json }}
</p>
<form name="form" (ngSubmit)="addUser()" novalidate>
  <input type="text" id="name" name="name" [(ngModel)]="model.name" />
  <input type="text" id="email" name="email" [(ngModel)]="model.email" />
  <input type="joinfield" id="dob" name="dob" [(ngModel)]="model.dob" />
  <input type="submit" #btnId class="btn btn-success" value="Save" />
</form>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>email</th>
      <th>dob</th>
    </tr>
  </thead>
  <!-- tbody -->
  <tr *ngFor="let book of forms">
    <td>{{ book.id }}</td>
    <td>{{ book.name }}</td>
    <td>{{ book.email }}</td>
    <td>{{ book.dob }}</td>
    <td><button (click)="editBook(book.id)">Edit</button></td>
    <td><button (click)="removeBook(book.id)">Delete</button></td>
  </tr>
</table>
